@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

html, body {
  height: 100%;
  background-color: #0f172a; /* donker slate */
  color: #e2e8f0; /* tekstkleur slate-200 */
  font-family: system-ui, sans-serif;
}
