@tailwind base;
@tailwind components;
@tailwind utilities;

/* jouw eigen globale styles */
html, body {
  background-color: #f9fafb; /* lichtgrijs */
  color: #0f172a; /* slate-900 */
  font-family: system-ui, sans-serif;
}
