@tailwind base;
@tailwind components;
@tailwind utilities;

/* zachte, lichte basis */
:root { color-scheme: light; }
html, body { height: 100%; }
body { @apply bg-slate-50 text-slate-900 antialiased; }

/* optioneel: links subtiel */
a { @apply text-slate-900; }
